*{
    margin: 0;
    padding: 0;
}
.navbar{
    background: blue;
    border-bottom: 7px solid skyblue;
    max-width: 100%;
    padding: 12px;
    position: fixed;
    top: 0;
    width: 99%;
    z-index: 1;
}
.icon{
    width: 20px;
    filter: invert(1);
}

.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}
.left{
    display: flex;
}
.left .logo{
    justify-content: center;
}
.left .title{
    justify-content: center;
    line-height: 0.7;
    align-content: center;
    margin: 5px;
    padding-top: 10px;
}
.left .title h1{
    color: white;
    text-shadow: 2px 2px 4px rgb(34, 34, 34);
    font-family: arial black;
    font-size: 30px;
}
.left .title span{
    color: skyblue;
    width: 500px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    text-shadow: 1px 2px 5px rgb(90, 88, 88);
    font-size: 18px;
    font-style: oblique;
}

/*done at the first part*/

.nav{
    flex-grow: 2;
    padding-top: 5px;
}
.nav .list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
    list-style-type: none;
}
.nav .list a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-shadow: 1px 2px 3px rgb(87, 109, 230);
}
.nav .list a::after{
    content: "";
    cursor: pointer;
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #5b8fdd;
    transition: .3s;
    bottom: 0;
}
.nav ul a:hover{
    color: rgb(6, 73, 97);
    background-color: rgb(88, 192, 233);
}
.nav .list .click:hover:after{
    width: 100%;
}
.nav .list .click:hover:active{
    background-color: rgb(88, 192, 233);
}
.active{
    background-color: rgb(142, 211, 243);
}
.click{
    display: flex;
    padding: 7px;
    margin: 5px;
    width: 100px;
    height: 25px;
    justify-content: space-evenly;
    text-align: justify;
    font-size: 13px;
    position: relative;
}
.click1{
    display: flex;
    padding: 7px;
    margin: 5px;
    width: 93px;
    height: 25px;
    justify-content: space-evenly;
    text-align: justify;
    font-size: 13px;
    position: relative;
}
li a, .dropbtn{
    text-decoration: none;
}
li .dropdown{
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #87d9ff;
    max-width: 135px;
    z-index: 3;
}
.dropdown-content a{
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: rgb(181, 208, 243);
    border-left: 4px solid rgb(57, 181, 212);
}
.dropdown:hover .dropdown-content{
    display: block;
}

/*Half Window Size*/
@media(max-width:900px){
    .navbar{
        position: fixed;
         top: 0;
         max-width: 96.5%;
         padding-right: 12px;
    }
    .head{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
    }
    .left{
        display: flex;
        justify-content: center;
    }
    .left .logo{
        justify-content: center;
    }
    .left .title{
        justify-content: space-evenly;
        line-height: 0.7;
        align-content: center;
        margin: 5px;
        padding-top: 10px;
    }
    .left .title h1{
        color: white;
        text-shadow: 2px 2px 4px rgb(34, 34, 34);
        font-family: arial black;
        font-size: 25px;
    }
    .left .title span{
        color: skyblue;
        width: 500px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 400;
        text-shadow: 1px 2px 5px rgb(90, 88, 88);
        font-size: 18px;
        font-style: oblique;
    }
    .icon{
        width: 15px;
        filter: invert(1);
    }
    .nav{
        background-color:rgb(70, 70, 247);
        margin: 0;
        padding: 7px;
    }
    .nav .list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;
        list-style-type: none;
    }
    .nav .list a{
        text-decoration: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 500;
        font-size: 11px;
        color: rgb(255, 255, 255);
        text-shadow: 1px 2px 3px rgb(87, 109, 230);
        width: 80px;
    }
    .dropdown-content{
        display: none;
        position: absolute;
        background-color: #87d9ff;
        max-width: 105px;
        z-index: 1;
    }
    .dropdown-content a:hover{
        background-color: rgb(181, 208, 243);
        border-left: 4px solid rgb(57, 181, 212);
        width: 60px;
        font-size: 8px;
    }
    .click1{
        display: flex;
        padding: 7px;
        margin: 5px;
        width: 80px;
        height: 25px;
        justify-content: space-evenly;
        text-align: justify;
        font-size: 13px;
        position: relative;
    }
}
@media(max-width:500px){
    .navbar{
        position: fixed;
         top: 0;
         max-width: 95%;
         padding-right: 12px;
    }
    .head{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
    }
    .left{
        display: flex;
        justify-content: center;
    }
    .left .logo{
        justify-content: center;
    }
    .left .title{
        justify-content: space-evenly;
        line-height: 0.8;
        align-content: center;
        margin: 5px;
        padding-top: 5px;
    }
    .left .title h1{
        color: white;
        text-shadow: 2px 2px 4px rgb(34, 34, 34);
        font-family: arial black;
        font-size: 20px;
    }
    .left .title span{
        color: skyblue;
        width: 500px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 400;
        text-shadow: 1px 2px 5px rgb(90, 88, 88);
        font-size: 14.5px;
        font-style: oblique;
    }
    .icon{
        width: 18px;
    }
    .nav{
        background-color:rgb(70, 70, 247);
    }
    .nav .list{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        overflow: hidden;
        list-style-type: none;
    }
    .nav .list a{
        text-decoration: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 500;
        font-size: 9px;
        color: rgb(255, 255, 255);
        text-shadow: 1px 2px 3px rgb(87, 109, 230);
        width: 55px;
        padding-top: 5px;
    }
    .dropdown-content{
        display: none;
        position: absolute;
        background-color: #87d9ff;
        max-width: 79px;
        z-index: 1;
    }
    .dropdown-content a:hover{
        background-color: rgb(181, 208, 243);
        border-left: 4px solid rgb(57, 181, 212);
        width: 65px;
        font-size: 8px;
        width: 34px;
    }
    .click1{
        display: flex;
        padding: 1px;
        margin: 5px;
        width: 10px;
        height: 10px;
        text-align: justify;
        font-size: 10px;
        position: relative;
    }
    .one{
        width: 8px;
    }
}
.about{
    margin-top: 100px;
    position: relative;
    background: url(../img/bg2.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.about .head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgba(7, 187, 187, 0.823);
}
.about .head h1{
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 80px;
    padding: 20px;
    text-shadow: 2px 2px 3px rgb(99, 97, 97);
    color: white;
}
.about .head p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 80px;
    text-shadow: 2px 2px 3px rgb(77, 77, 77);
    color: white;
}
.about .head p span{
    color:rgb(23, 255, 255);
    text-align: right;
}
.about .pro{
    padding: 4cm;
    padding-top: 0.25cm;
    padding-bottom: 0.25cm;
}
.about .con{
    background: rgba(120, 209, 236, 0.802);
    box-shadow: 0 4px 4px 0 rgb(82, 81, 81), 0 2px 4px 0 rgb(80, 80, 80);
    padding: 20px;
    text-align: center;
    color: rgb(19, 18, 18);
    text-shadow: 2px 3px 2px rgb(82, 81, 81);
    border-radius: 20px;
    border: 3px solid teal;
}
.about .con h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.about .con p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.about .con1{
    text-indent: 1cm;
    background: rgba(120, 209, 236, 0.802);
    box-shadow: 0 4px 4px 0 rgb(82, 81, 81), 0 2px 4px 0 rgb(80, 80, 80);
    padding: 20px;
    color: rgb(14, 13, 13);
    text-shadow: 2px 3px 2px rgb(82, 81, 81);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    border-radius: 20px;
    border: 3px solid teal;
}
.about .pro .con1  em{
    text-align: center;
}
@media(max-width:900px){
    .about{
        margin-top: 170px;
        position: relative;
    }
    .about .con{
        padding-left: 0.5cm;
        padding-right: 0.5cm;
        padding-top: 0.5cm;
        padding-bottom: 0.5cm;
        color: rgb(14, 14, 14);
        text-align: center;
    }
    .about .con p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-indent: 0.75cm;
        font-size: 13px;
        text-shadow: 2px 2px 3px rgb(56, 55, 55);
    }
    .about .pro{
        padding: 2cm;
        padding-top: 0.1cm;
        padding-bottom: 0.1cm;
    }
    .about .con p,.about .con1{
        font-size: 13px;
    }
}
@media(max-width:500px){
    .about{
        margin-top: 170px;
        position: relative;
    }
    .about .head h1{
        font-size: 17px
    }
    .about .head p{
        font-size: 12px;
    }
    .about .pro{
        padding-left: 0.4cm;
        padding-right: 0.4cm;
        padding-top: 0.1cm;
        padding-bottom: 0.1cm;
        color: rgb(12, 12, 12);
    }
    .about .con p,.about .con1{
        font-size: 12px;
    }
}
.end{
    padding: 20px;
    padding-left: 40px;
    background: rgb(51, 50, 50);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 1px;
}
.end .end1,.end3{
    color: rgb(174, 174, 174);
    text-shadow: 2px 2px 3px rgb(77, 77, 77);
    font-family:sans-serif;
    font-size: 14px;
}
.link{
    padding: 10px;
    background: rgb(51, 50, 50);
}
.link .end2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: rgb(182, 180, 180);
    font-family: sans-serif;
    font-size: 14px;
    text-shadow: 2px 2px 3px rgb(77, 77, 77);
    text-align: center;
}
.link .end2 a{
    text-decoration: none;
    font-size: 14px;
    color: rgb(174, 174, 174);
    text-shadow: 2px 2px 3px rgb(77, 77, 77);
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}
.link .end2 a:hover{
    color: rgb(130, 177, 238);
}

@media(max-width:900px){
    .link{
        padding: 10px;
        background: rgb(51, 50, 50);
    }
    .link .end2{
        display: flexbox;
        flex-direction: column;
        justify-content: space-around;
    }
}
@media(max-width:500px){
    .end .end1,.end3{
        color: rgb(174, 174, 174);
        text-shadow: 2px 2px 3px rgb(77, 77, 77);
        font-family:sans-serif;
        font-size: 11.3px;
    }
}
.inform{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    background: rgb(104, 95, 95);
}
.inform p{
    color: rgb(191, 192, 191);
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    text-shadow: 2px 3px 4px rgb(95, 95, 95);
}
.inform li{
    list-style-type:square;
    color: rgb(59, 59, 59);
    text-shadow: 2px 2px 2px rgb(104, 92, 92);
    font-family: sans-serif;
    font-size: 14px;
}
.inform li a{
    text-decoration: none;
    color: rgb(59, 59, 59);;
}
.inform li a:hover{
    color: rgb(90, 155, 230);;
}
@media(max-width:500px){
    .inform p{
        font-size: 14px;
    }
    .inform li{
        font-size: 12px;
    }
}